
img      {border: 0px; margin: 0px;}
a        {font-family: Arial; color: #0000A0; text-decoration: none;}
a:hover  {font-family: Arial; color: #0000A0; text-decoration: underline;}

input    {font-family: Arial; font-size: 12px; line-height: 16px; color: #000000;}
div      {font-family: Arial; font-size: 12px; line-height: 16px; color: #000000;}
p        {font-family: Arial; font-size: 12px; line-height: 16px;}
font     {font-family: Arial; font-size: 12px; line-height: 16px;}
var      {font-family: Arial; font-size: 12px; line-height: 16px; font-style: normal;}
select   {font-family: Arial; font-size: 12px; line-height: 16px; padding: 2px;}
textarea {font-family: Arial; font-size: 12px; line-height: 16px;}
body     {font-family: Arial; font-size: 12px; line-height: 16px;}

table    {table-layout: auto; width: 100%; background-color: #ffffff;}
tr       {border: 1px; margin: 0px; padding: 0px;}
td       {color: #000000; font-family: Arial; text-align: left; border: 1px; margin: 0px; padding: 0px; font-size: 12px; line-height: 16px; overflow: hidden; white-space: nowrap; }
th       {color: #000000; font-family: Arial; text-align: left; border: 1px; margin: 0px; padding: 0px; font-size: 12px; line-height: 16px;}

.warn    { border: 2px solid red; padding: 5px; margin: 10px; margin-bottom: 30px; }

.pagecolumn    { float: left; width: 50%; }
.cell-teamname { color: #ffffff; font-family: Arial; font-size: 12px; font-weight: bold; line-height: 16px; padding-left: 3px; padding-right: 3px; background-color: #BB5500; border: 0px; }
.cell-shootername { border: 0px; padding-left: 5px; }
.cell-result   { border: 0px; text-align: right; padding-left: 5px; padding-right: 12px; }
.cell-place    { border: 0px; text-align: right; padding-left: 0px; padding-right: 0px; }

.input-table { table-layout: auto; width: 300px; background-color: #ffffff;}

.index-table { table-layout: fixed; width: 640px; background-color: #ffffff;}

.css-table-background   {background-color: #ffffff;}
.css-ticker-table       {position: absolute; top: 0px; left: 0px; background-color: #ffffff;}


